%ul.list-unstyled
  = content_tag_for(:li, items) do |item|
    %article.item-list
      .icon
        = user_icon_normal(item.user)
      .body
        .user
          = link_to item.user.nickname, item.user
          = time_ago_in_words(item.updated_at)
        .title
          = link_to item.title, item
        %div
          - item.tags.each do |tag|
            %span.badge
              = link_to tag.name, tag_path(tag), class: 'tag_link'

= paginate items