%ul.list-unstyled
  = content_tag_for(:li, items) do |item|
    %div.itemlist
      %span
        = item.user.name
      %span
        = time_ago_in_words(item.updated_at)
      %div
        = link_to item.title, item
        %span
          - item.draft.tags.each do |tag|
            %span.badge
              = tag.name

= paginate items