.container
  .row
    .col-sm-8
      .user-header-icon
        = user_icon_large(@user)
      .user-header-name
        %h1= @user.nickname
    .col-sm-4
      .userfollow-button-area
        = render 'follow_button'

  %h2 フォロー中のタグ
  - @user.tags.each do |tag|
    %span.badge
      = link_to tag.name, tag_path(tag), class: 'tag_link'

  %h2 フォロー中のユーザー
  - @user.follow_users.each do |follow_user|
    %span
      = user_icon_small(follow_user)

  %h2 フォロワー
  - @user.follower_users.each do |follower_user|
    %span
      = user_icon_small(follower_user)

  %hr

  %h1 投稿した記事
  = render 'share/itemlist', items: @items