%h1= @item.title
= markdown(@item.raw_body)

- if user_signed_in? && @item.user == current_user
  = link_to '編集', edit_draft_path(@item.draft)

.stock-button-area
  = render 'stock_button'

.comment-area
  = render 'comments/index'

- if user_signed_in?
  = simple_form_for([@item, @comment], remote: true) do |f|
    = f.input :raw_body, label: 'コメント'
    = f.submit 'コメントする'