= simple_form_for(@draft) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.input :tag_list
    .form-group
      = f.input :title
    .form-group
      = f.input :raw_body

  .form-actions
    = f.button :submit, '下書き保存'
    - if @draft.item.nil?
      = f.button :submit, '投稿', name: 'public_create'
    - else
      = f.button :submit, '更新', name: 'public_update'
